{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GHMS </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'ui/hospital.css' %}">
</head>
<body>

<header class="site-header">
  <div class="brand-wrap">
    <div class="logo-dot"></div>
    <div class="brand-text">
      <span class="brand-title">GHMS</span>
      <span class="brand-sub">v3</span>
    </div>
  </div>

  <nav class="main-nav">
    {% if request.user.is_authenticated %}
      <a href="{% url 'dashboard' %}">Dashboard</a>
      <a href="{% url 'find_patient' %}">Find Patient</a>
      <a href="{% url 'attended_today' %}">Attended Today</a>
      <a href="{% url 'my_profile' %}">My Profile</a>
      <a href="{% url 'msg_inbox' %}">Messages</a>


      
      {% with staff=request.user.staffprofile %}
        {% if request.user.is_superuser or staff.role == "AUDITOR" %}
          <a href="{% url 'daas_shift_report' %}">DAAS Oversight</a>
          <a href="{% url 'audit_console' %}">Security Console</a>
        {% endif %}
      {% endwith %}
    {% endif %}
  </nav>

  <div class="header-right">
    {% if request.user.is_authenticated %}
      <div class="pill pill-dept">
        Dept:
        <strong>{{ request.user.department.name|default:"N/A" }}</strong>
      </div>
      <div class="pill pill-role">
        {{ request.user.role|default:"Staff" }}
      </div>
      <a class="btn btn-ghost" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="btn btn-ghost" href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</header>

<main class="page">
  {% block content %}{% endblock %}
</main>

</body>
</html>
